.cookies-consent
    .cookies-consent__contenido
        p 
            | Utilizamos cookies propias para ofrecerte una mejor experiencia y servicio, de acuerdo a tus hábitos de navegación.
            | Si continuas navegando, consideramos que aceptas su uso. Puedes obtener más información en nuestra 
            a(href="pdf/Coleccionables_Galp_Politica_de_Cookies.pdf", target="_blank") Política de cookies.


        p
            a.aceptar-cookie(href="javascript:void(0)") Aceptar
